interactions:
  - request:
      method: GET
      uri: https://api.github.com/repos/acme/example/pulls/42
      headers:
        Authorization: Bearer <ghs-redacted>
        X-GitHub-Api-Version: "2022-11-28"
    response:
      status_code: 200
      headers:
        X-RateLimit-Limit: "5000"
        X-RateLimit-Remaining: "4999"
        X-RateLimit-Reset: "1799999999"
        Content-Type: application/json
      body: |-
        {
          "number": 42,
          "state": "open",
          "title": "Refactor the widgets",
          "body": "Long description.",
          "head": {"sha": "abc123"},
          "base": {"ref": "main"}
        }
