# Sprint 4 / S4.1.1 — recorded GitHub response for a successful
# installation-token exchange. Used by tests/integration/test_github_bootstrap.py.
interactions:
  - request:
      method: POST
      uri: https://api.github.com/app/installations/12345/access_tokens
      headers:
        Authorization: Bearer <jwt-redacted>
        X-GitHub-Api-Version: "2022-11-28"
      body: ""
    response:
      status_code: 201
      headers:
        Content-Type: application/json; charset=utf-8
      body: |-
        {
          "token": "ghs_redactedtokenvalue",
          "expires_at": "2026-05-02T13:00:00Z",
          "permissions": {
            "contents": "read",
            "pull_requests": "write",
            "issues": "write",
            "metadata": "read"
          },
          "repository_selection": "all"
        }
