schema_version: 1
service: github
scenario: "GET /pulls/42 — 503 then 200 (single 5xx retry, one backoff sleep)"
recorded_at: "2026-06-03T00:00:00Z"
recorded_by: "task-2.9-apiclient"
interactions:
  - request:
      method: GET
      uri: https://api.github.com/repos/acme/example/pulls/42
      headers:
        X-GitHub-Api-Version: "2022-11-28"
    response:
      status_code: 503
      headers:
        Content-Type: application/json
      body: |-
        {"message": "Server Error"}
  - request:
      method: GET
      uri: https://api.github.com/repos/acme/example/pulls/42
      headers:
        X-GitHub-Api-Version: "2022-11-28"
    response:
      status_code: 200
      headers:
        X-RateLimit-Limit: "5000"
        X-RateLimit-Remaining: "4999"
        X-RateLimit-Reset: "1799999999"
        Content-Type: application/json
      body: |-
        {"number": 42, "state": "open", "title": "recovered after 503", "head": {"sha": "rec1"}, "base": {"ref": "main"}}
